LAMATIC_API_URL="https://diversdirect513-campaignmanager768.lamatic.dev/graphql"
LAMATIC_API_TOKEN="lt-fd8e2e1f115f0b1dadabe5bf25c85f02"
LAMATIC_PROJECT_ID="c7863c80-9f35-448b-95a6-5f43303ce379"
LAMATIC_CAMPAIGN_WORKFLOW_ID="382f311c-5686-431f-b612-ab40064d9ddf"
LAMATIC_PRODUCT_SEARCH_WORKFLOW_ID="3ba76747-0082-4cf3-b3c2-b2b4eadc457c"
LAMATIC_KPI_SUMMARY_WORKFLOW_ID="0358f123-74dc-4fd4-bb96-e17d542dcc70"
LAMATIC_KPI_DETAIL_WORKFLOW_ID="79974f1b-9ab2-45da-9870-cfc7cae59459"

NEXT_PUBLIC_SUPABASE_URL="https://jfuhrzkydqgarqvqlvpm.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpmdWhyemt5ZHFnYXJxdnFsdnBtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0MjY2NzksImV4cCI6MjA4MjAwMjY3OX0.ynt5BTgHYJTpniWdbEg0bVe-_jvtoGoxbbQ02SkFJxU"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpmdWhyemt5ZHFnYXJxdnFsdnBtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjQyNjY3OSwiZXhwIjoyMDgyMDAyNjc5fQ.GRhlpuyYXSDTvGOdzrj7UoSQfV1YnoM5ZJ_qi87qdaM"

DATABASE_URL="postgresql://postgres.jfuhrzkyqdgarqvqlvpm:1Poks1H5aop3CAo@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connect_timeout=300&pool_timeout=30"
DIRECT_URL="postgresql://postgres.jfuhrzkyqdgarqvqlvpm:1Poks1H5aop3CAo@aws-1-ap-south-1.pooler.supabase.com:5432/postgres?connect_timeout=300"